/*font-family: "Trebuchet MS", Helvetica, sans-serif;
font-family: Tahoma, Verdana, Arial, sans-serif;  

Hace falta fondo como lo hago ayudaa*/


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f4f6f8;
    color: #333;
    background: linear-gradient(-45deg, #f4f6f8, #e2e8f0, #dbeafe);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111827;
    color: white;
    top: 0;
    z-index: 10;
    position: sticky;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #2563eb, #1e40af);
    color: white;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    margin: 15px 0;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 13px 24px;
    background-color: white;
    color: #1e40af;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    color: #f4f6f8;
    background-color: #152a6c;
    padding: 13px 26px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.5s;
}

/* INTRO */
.intro {
    padding: 50px 20px;
    text-align: center;
}

.intro h2 {
    margin-bottom: 15px;
}

/*TITLE*/

.container h2 {
    margin-bottom: 15px;
    text-align: center;
}


/* CARDS */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 70px 70px;
}

.card {
    background-color: white;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 220px;
    max-width: 100%;
    height: 300px;
    background: white;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    padding-top: 40px;
    align-self: flex-start;
}

.container .card:hover {
    height: 300px;
}

.container .card .img-box {
    position: absolute;
    top: 20px;
    width: 200px;
    height: 210px;
    background: #000000;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover .img-box {
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}


.container .card .content {
    position: absolute;
    top: 250px;
    width: 100%;
    height: 35px;
    padding: 0 35px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover .content {
    top: 140px;
    height: 200px;
}

.container .card .content h2 {
    font-size: 1.7rem;
    font-weight: 740;
}

.container .card .content p {
    color: #333333;
}


.container .card .content a {
    position: relative;
    top: 14px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.container .card .content a:hover {
    opacity: 0.8;
    background-color: #000;
}


@media (max-width: 480px) {
    .container .card {
        width: 300px;
        border-radius: 15px;
    }

    .container .card .img-box {
        width: 185px;
        border-radius: 10px;
    }
}

.container .card .content p {
     font-size: 0.9rem;
     font-weight: 100;
}

.container .card .content b {
    font-size: 1rem;
    font-weight: 700;
}


/*Card 2 for start anim.*/

.card {
    opacity: 0;
    transform: translateY(40px);
    animation: showUp 3s ease forwards;
}

@keyframes showUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #111827;
    color: white;
    position: static;
    margin-top: auto;

}
